.main{
     border: 2px solid black;
     width: 180px;
     margin: 0 auto;
}
.inp{
    margin-top: 7px;
    width: 95%;
    background: white;
}

.clear{
    margin-top: 7px;
    width: 100%;
    color: white;
    background: #000;

}
.btn{
    color: white;
    background: #000;
    margin: 2px;
    margin-top: 7px;
    width: 35px;
}

.btna{
    background: #000;
    color: white;
    width: 80px;
    margin-top: 7px;
}